version: '3.8'
services:
  postgres:
    image: postgres:latest
    container_name: pgdb
    env_file:
      - ../.env
    ports:
      - 5432:5432
    volumes:
      - ../../migration:/docker-entrypoint-initdb.d
